<%= form_with(model: aplicacion, local: true) do |form| %>
  <% if aplicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aplicacion.errors.count, "error") %> prohibited this aplicacion from being saved:</h2>

      <ul>
      <% aplicacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
